<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="#dummy">
    <meta property="og:description" content="#dummy">
    <meta property="og:url" content="#dummy">
    <meta property="og:image" content="#dummy">
    <meta property="og:type" content="website"><!-- 下層はarticle -->
    <meta property="og:site_name" content="">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:admins" content="#dummy">

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

    <!-- common style -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/common.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/article.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/code.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header class="header center">
      <div class="header__logo">
        <a href="{{ site.url }}">
          <img src="/assets/img/donuts_logo_white.png">
        </a>
      </div>
      <h1 class="header__title">{{ page.title }}</h1>
    </header>

    <div class="contents">
      <div class="contents__text-area">
        <div class="contents__date-area flex">
          <div class="contents__date-day">{{ page.date | date: "%Y年%m月%d日" }}</div>
          <div class="contents__date-userName">{{ page.author }}</div>
        </div>
        {{ content }}
      </div>
    </div>
    <div class="pagenation flex">
      {% if page.previous %}
      <a href="{{ page.previous.url }}" class="pagenation__return">前へ戻る</a>
      {% endif %}
      <a href="{{ site.url }}" class="pagenation__top">TOPへ</a>
      {% if page.next %}
      <a href="{{ page.next.url }}" class="pagenation__next">次へ進む</a>
      {% endif %}
    </div>

    <footer class="footer center">
      <p>&copy; 2019 Donuts Engineer’s Blog</p>
    </footer>

  </body>
</html>
